html, body{
  background-color: #303030;
  color: #ffffff;
}

mat-card{
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
}

mat-form-field{
  width:100%;
}

.input-box{
  width: 600px;
}

.btn-box{
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-box button{
  width: 50%;
}

